@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import "./webkits.css";
@import "./reset.css";
body {
  background-color: rgb(58, 58, 58);
  color: rgb(240, 240, 240);
  padding-left: 10px;
}

* {
  font-family: "Nanum Gothic", sans-serif;
  color: rgb(240, 240, 240);
}

#itemList {
  border: 1px solid rgb(68, 68, 68);
  border-radius: 10px;
  width: 600px;
  height: 230px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: rgb(94, 94, 94);
  overflow: hidden;
}

.item-form {
  display: flex;
  align-items: center;
}

.menuBar {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.menuBar span {
  margin-right: 10px;
}
.menuBar .btn__style {
  margin-right: 10px;
}

.item-input {
  width: 146px;
  margin-right: 10px;
  border: 0;
  background-color: rgb(139, 139, 139);
  margin-top: 10px;
  color: rgb(240, 240, 240);
  line-height: 15px;
}

.item-input:focus {
  outline: none;
}

.item-input::placeholder {
  color: rgb(240, 240, 240);
}

.item-input__count {
  width: 50px;
}

.item-tag {
  display: flex;
}
.item-tag span {
  display: block;
  width: 150px;
  margin-right: 10px;
}
.item-tag span:nth-child(2) {
  display: block;
  width: 54px;
}

.main-title {
  font-size: 40px;
}

.item--container {
  display: flex;
}

#memo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.memo--textarea {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 0;
  background-color: rgb(94, 94, 94);
  resize: none;
  line-height: 15px;
}

.memo--textarea:focus {
  outline: none;
}
.memo--textarea::placeholder {
  color: rgb(240, 240, 240);
}

.btn__style {
  border: none;
  background: linear-gradient(to bottom, #f3c877, #766139);
  border-radius: 50px;
  color: #f5f2cd;
}
.btn__style {
  border: none;
  background: linear-gr adient(to bottom, #f3c877, #766139);
  border-radius: 50px;
  color: #f5f2cd;
}

#save-memo--btn {
  margin-top: 10px;
}

.item-input__crystal--count {
  width: 50px;
}

.item-input__crystal--price {
  width: 70px;
}
